/* img {
    display: block;
    margin: 0 auto;
}

table {
    border: 1px solid black;
    margin: 20px auto;
} */

/* div {
    text-align: center;
} */

h1 {
     border: 1px solid black;
     width: 100px;
     border-radius: 51% 49% 5% 95% / 49% 34% 66% 51% ;
     padding: 50px;

    /*border-image: url("/assets/border.png") 30 ; */
    box-shadow: 12px 10px 5px 0px rgba(0,0,0,0.75);

}